# vim: ts=4 sw=4 et
[DESIGN]
max-branches = 65
max-args = 10
max-attributes = 15
max-locals = 50
max-statements = 200
max-nested-blocks = 10
min-public-methods = 1
[MESSAGES CONTROL]
disable=protected-access,no-member,no-else-return,invalid-name
