# vim: ts=2 sw=2 et
# .vctoolsrc.yaml
#
# This purpose of this dotrc file is to force default values for argparse and
# VM creations. This file is read first by the program, and then its values can
# overrided by passing a sample.yaml file when creating a VM.
# Remove any options that you do not wish to set.
#
# These sections should match argparse parsers.
#general:
  # general options
  # user: username for logging into vsphere
  # domain: domain for logging into vsphere
  # passwd-file: one line file containing your password and is gpg ascii encrypted
  #user=userid
  #domain=adlocal
  #passwd_file=~/Documents/.pass.asc
create:
  upload: True
  mount: True
  power: True
upload:
  # sub-options for uploading an iso
  #
  # dest: destination folder where the iso will reside.
  # datastore: name of datastore where the iso will reside.
  # verify-ssl: verify SSL certificate.
  # datacenter: default datacenter view when accessing vsphere.  
  datacenter: Linux
  datastore: ISO_Templates
  dest: /ISOs/OS/mkbootiso/
  verify_ssl: False
mount:
  # sub-options for mounting an iso
  #
  # datastore: Name of datastore where the ISO is located.
  # path: Path inside datastore where the ISO is located.
  datastore: ISO_Templates
  path: /ISOs/OS/mkbootiso/
mkbootiso:
  defaults:
    rhel6_64Guest:
      source: '/opt/isos/rhel6'
      ks: 'http://ks.domain.com/rhel6-ks.cfg'
      options:
        netmask: '255.255.255.0'
        dns: '4.2.2.2'
    rhel7_64Guest:
      source: '/opt/isos/rhel7'
      ks: 'http://ks.domain.com/rhel7-ks.cfg'
      options:
        netmask: '255.255.255.0'
        nameserver: '4.2.2.2'
        net.ifnames: '0'
        biosdevname: '0'
vmconfig:
  # datacenter: default datacenter view when accessing vsphere.  
  datacenter: Linux
  # default config values for VM creations
  # You can get an idea of what is can be set here by looking at the ConfigSpec in VMware's SDK
  # https://www.vmware.com/support/developer/vc-sdk/visdk25pubs/ReferenceGuide/vim.vm.ConfigSpec.html
  numCPUs: 1
  memoryMB: 4096
  memoryHotAddEnabled: True
  cpuHotAddEnabled: True
  # disks are in GB, max 4
  disks:
    - 30
