[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyvmomi = "*"
pylint = "*"
argparse = "*"
requests = "*"
pyyaml = "*"
flask = "*"
mod_wsgi = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
vctools = "python main.py"
