<VirtualHost *:80>
    ServerName hostname.domain.com
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>
<VirtualHost *:443>
    ServerName hostname.domain.com
    SSLCertificateFile /etc/apache2/ssl/hostname.domain.com.pem
    WSGIDaemonProcess api user=www-data group=www-data threads=5
    WSGIScriptAlias /api /path/to/vctools/api.wsgi
</VirtualHost>
<Directory /path/to/vctools>
    WSGIProcessGroup api
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptReloading On
    Require all granted
</Directory>

